/* CardList.scss */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(181, 185, 189);
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  height: 100%;
  width: 82vw;
  background-color: rgb(181, 185, 189);

  align-content: start;
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 85vw;
  font-size: 1.5em;

  p {
    width: 50vw;
  }
}

@media screen and (max-width: 768px) {
  .card-container {
    margin: none;
    border: none;
    width: 86%;
  }
}
