body {
  margin: 0;
  padding: 0;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  height: 100%;
  width: 83vw;

  align-content: start;
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 85vw;
  font-size: 1.5em;

  p {
    width: 50vw;
  }
}
